* {
    border: 1px solid green;
}
main {
    height: 730px;
    width: 460px;
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-grow: 1;
}
.display-border {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    padding: 20px 10px 20px 10px;
}
.display {
    display: flex;
    flex-grow: 1;
}
.btn-container {
    display: flex;
    flex-grow: 5;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}
